<h1>Welcome to Angular {{name}} </h1>
<!-- <div app-home class="border p-2 m-2" style="text-align: center;"></div> -->
<!-- <div *ngFor="let employee of getEmployee()">My name from method is : {{employee.name}}</div> -->
<!-- <h1>{{getEmployee() | json}}</h1>
<h1>{{getEmployee()[1].name ? getEmployee()[0].name : 'noname'}}</h1>
<hr>

<h1>property binding</h1>
<input type="text" value="shiva">
<input type="text" value="name" id="name">
<input type="text" [value]="name" [id]="name">

<hr>
<input tyoe="text" [value]="name" id="name" disabled>
<input type="text" [value]="name" id="name" [disabled]="isDisabled"w>
<hr> -->
<!-- <h1>Class binding</h1>
<h2>Regular HTML</h2>
<p class="textColor">Regular class</p>
<p class="textSize">Regular class</p>

<h2>Our Approach class binding</h2>
<p [class]= "myTextSize">Class Binding</p>
<p class="textColor textSize">Regular multiple classes</p>
<p [class]="myGroup"> Class binding with group</p>
<h2>ngClass Approach</h2>
<p [ngClass] = "myGroup">Class binding with ngClass</p>
<h2>Conditional class binding</h2>
<p [class]="isRequired ? 'textColor' : 'textSize'">Class binded conditioanlly</p>

<p [class.textColor]="isRequired">Class binding with dot operator</p> -->

<!-- <h1>Style Binding</h1>
<p [style.color] = "myColor" >Some data with style</p>
<p [style.color]="'red'">Proving color input directly</p>
<p [style.fontStyle]="'italic'">Providing fond style</p>
<p [style.fontSize]="isRequired ? '50px' : '20px' " >Conditional style binding</p>
<p [ngStyle]="myStyleGroup">Applying Group of styles</p> -->

<!-- <app-home></app-home> -->
<!-- <app-evnt-binding></app-evnt-binding> -->
<!-- <app-two-way></app-two-way> -->
 <!-- <app-structural></app-structural> -->
  <!-- <app-parent></app-parent> -->
<!-- <router-outlet></router-outlet> -->
 <!-- <app-pipes-demo></app-pipes-demo> -->
<app-manipulation-dom></app-manipulation-dom>